html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#sky {
  width: 100%;
  height: 68%;
}

.star {
  opacity: 0;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
  border-radius: 100%;
  transform-origin: 0, 0;
  animation-timing-function: linear, linear !important;
  animation-iteration-count: infinite, infinite !important;
  animation-delay: -30s, -30s !important;
}

.size-1 {
  width: 1px;
  height: 1px;
}

.size-2 {
  width: 2px;
  height: 2px;
}

.axis-1 {
  animation: anim0 22757ms, fade7 22757ms;
}

.axis-2 {
  animation: anim0 38629ms, fade9 38629ms;
}

.axis-3 {
  animation: anim0 37973ms, fade9 37973ms;
}

.axis-4 {
  animation: anim4 44241ms, fade6 44241ms;
}

.axis-5 {
  animation: anim4 17381ms, fade9 17381ms;
}

.axis-6 {
  animation: anim4 32884ms, fade8 32884ms;
}

.axis-7 {
  animation: anim4 34550ms, fade10 34550ms;
}

.axis-8 {
  animation: anim8 40928ms, fade10 40928ms;
}

.axis-9 {
  animation: anim8 25151ms, fade3 25151ms;
}

.axis-10 {
  animation: anim8 35150ms, fade1 35150ms;
}

.axis-11 {
  animation: anim8 35011ms, fade9 35011ms;
}

.axis-12 {
  animation: anim12 10269ms, fade8 10269ms;
}

.axis-13 {
  animation: anim12 20302ms, fade7 20302ms;
}

.axis-14 {
  animation: anim12 34814ms, fade4 34814ms;
}

.axis-15 {
  animation: anim12 37619ms, fade10 37619ms;
}

.axis-16 {
  animation: anim16 44445ms, fade5 44445ms;
}

.axis-17 {
  animation: anim16 36553ms, fade7 36553ms;
}

.axis-18 {
  animation: anim16 26866ms, fade1 26866ms;
}

.axis-19 {
  animation: anim16 33347ms, fade3 33347ms;
}

.axis-20 {
  animation: anim20 22844ms, fade10 22844ms;
}

.axis-21 {
  animation: anim20 15098ms, fade4 15098ms;
}

.axis-22 {
  animation: anim20 39760ms, fade8 39760ms;
}

.axis-23 {
  animation: anim20 43594ms, fade10 43594ms;
}

.axis-24 {
  animation: anim24 13830ms, fade7 13830ms;
}

.axis-25 {
  animation: anim24 34347ms, fade4 34347ms;
}

.axis-26 {
  animation: anim24 37198ms, fade3 37198ms;
}

.axis-27 {
  animation: anim24 36209ms, fade5 36209ms;
}

.axis-28 {
  animation: anim28 6083ms, fade3 6083ms;
}

.axis-29 {
  animation: anim28 31607ms, fade7 31607ms;
}

.axis-30 {
  animation: anim28 29474ms, fade8 29474ms;
}

.axis-31 {
  animation: anim28 14559ms, fade2 14559ms;
}

.axis-32 {
  animation: anim32 40473ms, fade2 40473ms;
}

.axis-33 {
  animation: anim32 41818ms, fade4 41818ms;
}

.axis-34 {
  animation: anim32 22567ms, fade10 22567ms;
}

.axis-35 {
  animation: anim32 32791ms, fade7 32791ms;
}

.axis-36 {
  animation: anim36 36346ms, fade6 36346ms;
}

.axis-37 {
  animation: anim36 38579ms, fade7 38579ms;
}

.axis-38 {
  animation: anim36 33688ms, fade1 33688ms;
}

.axis-39 {
  animation: anim36 36588ms, fade1 36588ms;
}

.axis-40 {
  animation: anim40 6843ms, fade9 6843ms;
}

.axis-41 {
  animation: anim40 11592ms, fade4 11592ms;
}

.axis-42 {
  animation: anim40 16949ms, fade3 16949ms;
}

.axis-43 {
  animation: anim40 22291ms, fade1 22291ms;
}

.axis-44 {
  animation: anim44 35302ms, fade5 35302ms;
}

.axis-45 {
  animation: anim44 14853ms, fade8 14853ms;
}

.axis-46 {
  animation: anim44 8678ms, fade3 8678ms;
}

.axis-47 {
  animation: anim44 14041ms, fade7 14041ms;
}

.axis-48 {
  animation: anim48 22036ms, fade7 22036ms;
}

.axis-49 {
  animation: anim48 29695ms, fade10 29695ms;
}

.axis-50 {
  animation: anim48 12046ms, fade6 12046ms;
}

.axis-51 {
  animation: anim48 22849ms, fade8 22849ms;
}

.axis-52 {
  animation: anim52 17647ms, fade2 17647ms;
}

.axis-53 {
  animation: anim52 17922ms, fade6 17922ms;
}

.axis-54 {
  animation: anim52 22919ms, fade7 22919ms;
}
.axis-55 {
  animation: anim52 25715ms, fade10 25715ms;
}

.axis-56 {
  animation: anim56 13540ms, fade6 13540ms;
}

.axis-57 {
  animation: anim56 30410ms, fade5 30410ms;
}

.axis-58 {
  animation: anim56 13890ms, fade2 13890ms;
}

.axis-59 {
  animation: anim56 39789ms, fade4 39789ms;
}

.axis-60 {
  animation: anim60 8673ms, fade2 8673ms;
}

.axis-61 {
  animation: anim60 20441ms, fade8 20441ms;
}

.axis-62 {
  animation: anim60 29783ms, fade5 29783ms;
}

.axis-63 {
  animation: anim60 29475ms, fade2 29475ms;
}

.axis-64 {
  animation: anim64 13492ms, fade6 13492ms;
}

.axis-65 {
  animation: anim64 14209ms, fade10 14209ms;
}

.axis-66 {
  animation: anim64 8981ms, fade7 8981ms;
}

.axis-67 {
  animation: anim64 36466ms, fade9 36466ms;
}

.axis-68 {
  animation: anim68 12290ms, fade5 12290ms;
}

.axis-69 {
  animation: anim68 27416ms, fade6 27416ms;
}

.axis-70 {
  animation: anim68 6440ms, fade4 6440ms;
}

.axis-71 {
  animation: anim68 23042ms, fade6 23042ms;
}

.axis-72 {
  animation: anim72 8280ms, fade9 8280ms;
}

.axis-73 {
  animation: anim72 29020ms, fade10 29020ms;
}

.axis-74 {
  animation: anim72 13682ms, fade7 13682ms;
}

.axis-75 {
  animation: anim72 32029ms, fade3 32029ms;
}

.axis-76 {
  animation: anim76 38685ms, fade6 38685ms;
}

.axis-77 {
  animation: anim76 9187ms, fade2 9187ms;
}

.axis-78 {
  animation: anim76 14358ms, fade7 14358ms;
}

.axis-79 {
  animation: anim76 17225ms, fade10 17225ms;
}

.axis-80 {
  animation: anim80 23946ms, fade10 23946ms;
}

.axis-81 {
  animation: anim80 8916ms, fade2 8916ms;
}

.axis-82 {
  animation: anim80 13426ms, fade6 13426ms;
}

.axis-83 {
  animation: anim80 42404ms, fade2 42404ms;
}

.axis-84 {
  animation: anim84 34037ms, fade2 34037ms;
}

.axis-85 {
  animation: anim84 9771ms, fade6 9771ms;
}

.axis-86 {
  animation: anim84 11926ms, fade5 11926ms;
}

.axis-87 {
  animation: anim84 5060ms, fade2 5060ms;
}

.axis-88 {
  animation: anim88 12144ms, fade2 12144ms;
}

.axis-89 {
  animation: anim88 8350ms, fade3 8350ms;
}

.axis-90 {
  animation: anim88 19054ms, fade3 19054ms;
}

.axis-91 {
  animation: anim88 17963ms, fade3 17963ms;
}

.axis-92 {
  animation: anim92 32368ms, fade5 32368ms;
}

.axis-93 {
  animation: anim92 33646ms, fade5 33646ms;
}

.axis-94 {
  animation: anim92 33926ms, fade2 33926ms;
}

.axis-95 {
  animation: anim92 13669ms, fade7 13669ms;
}

.axis-96 {
  animation: anim96 6364ms, fade2 6364ms;
}

.axis-97 {
  animation: anim96 26324ms, fade8 26324ms;
}

.axis-98 {
  animation: anim96 25680ms, fade4 25680ms;
}

.axis-99 {
  animation: anim96 12457ms, fade1 12457ms;
}

.axis-100 {
  animation: anim100 17028ms, fade2 17028ms;
}

.axis-101 {
  animation: anim100 26895ms, fade2 26895ms;
}

.axis-102 {
  animation: anim100 29165ms, fade5 29165ms;
}

.axis-103 {
  animation: anim100 41954ms, fade10 41954ms;
}

.axis-104 {
  animation: anim104 24530ms, fade5 24530ms;
}

.axis-105 {
  animation: anim104 39132ms, fade2 39132ms;
}

.axis-106 {
  animation: anim104 23773ms, fade3 23773ms;
}

.axis-107 {
  animation: anim104 12662ms, fade7 12662ms;
}

.axis-108 {
  animation: anim108 40530ms, fade3 40530ms;
}

.axis-109 {
  animation: anim108 20004ms, fade9 20004ms;
}

.axis-110 {
  animation: anim108 23789ms, fade1 23789ms;
}

.axis-111 {
  animation: anim108 19856ms, fade8 19856ms;
}

.axis-112 {
  animation: anim112 11864ms, fade9 11864ms;
}

.axis-113 {
  animation: anim112 31997ms, fade6 31997ms;
}

.axis-114 {
  animation: anim112 22075ms, fade5 22075ms;
}

.axis-115 {
  animation: anim112 42980ms, fade9 42980ms;
}

.axis-116 {
  animation: anim116 20638ms, fade10 20638ms;
}

.axis-117 {
  animation: anim116 19379ms, fade4 19379ms;
}

.axis-118 {
  animation: anim116 38091ms, fade6 38091ms;
}

.axis-119 {
  animation: anim116 12302ms, fade7 12302ms;
}

.axis-120 {
  animation: anim120 12277ms, fade9 12277ms;
}

.axis-121 {
  animation: anim120 42592ms, fade8 42592ms;
}

.axis-122 {
  animation: anim120 15878ms, fade10 15878ms;
}

.axis-123 {
  animation: anim120 28856ms, fade2 28856ms;
}

.axis-124 {
  animation: anim124 7323ms, fade2 7323ms;
}

.axis-125 {
  animation: anim124 38607ms, fade9 38607ms;
}

.axis-126 {
  animation: anim124 25118ms, fade9 25118ms;
}

.axis-127 {
  animation: anim124 10849ms, fade10 10849ms;
}

.axis-128 {
  animation: anim128 24048ms, fade4 24048ms;
}

.axis-129 {
  animation: anim128 19130ms, fade7 19130ms;
}

.axis-130 {
  animation: anim128 27650ms, fade3 27650ms;
}

.axis-131 {
  animation: anim128 33434ms, fade7 33434ms;
}

.axis-132 {
  animation: anim132 8166ms, fade7 8166ms;
}

.axis-133 {
  animation: anim132 44343ms, fade9 44343ms;
}

.axis-134 {
  animation: anim132 31457ms, fade3 31457ms;
}

.axis-135 {
  animation: anim132 37907ms, fade9 37907ms;
}

.axis-136 {
  animation: anim136 43196ms, fade1 43196ms;
}

.axis-137 {
  animation: anim136 27161ms, fade9 27161ms;
}

.axis-138 {
  animation: anim136 12231ms, fade10 12231ms;
}

.axis-139 {
  animation: anim136 29327ms, fade5 29327ms;
}

.axis-140 {
  animation: anim140 39701ms, fade3 39701ms;
}

.axis-141 {
  animation: anim140 25765ms, fade2 25765ms;
}

.axis-142 {
  animation: anim140 37664ms, fade9 37664ms;
}

.axis-143 {
  animation: anim140 19451ms, fade9 19451ms;
}

.axis-144 {
  animation: anim144 37195ms, fade10 37195ms;
}

.axis-145 {
  animation: anim144 32567ms, fade10 32567ms;
}

.axis-146 {
  animation: anim144 44445ms, fade4 44445ms;
}

.axis-147 {
  animation: anim144 14731ms, fade6 14731ms;
}

.axis-148 {
  animation: anim148 35712ms, fade6 35712ms;
}

.axis-149 {
  animation: anim148 27911ms, fade6 27911ms;
}

.axis-150 {
  animation: anim148 14443ms, fade7 14443ms;
}

.axis-151 {
  animation: anim148 30140ms, fade7 30140ms;
}

.axis-152 {
  animation: anim152 40138ms, fade3 40138ms;
}

.axis-153 {
  animation: anim152 44826ms, fade5 44826ms;
}

.axis-154 {
  animation: anim152 19268ms, fade10 19268ms;
}

.axis-155 {
  animation: anim152 23442ms, fade2 23442ms;
}

.axis-156 {
  animation: anim156 35965ms, fade8 35965ms;
}

.axis-157 {
  animation: anim156 43298ms, fade6 43298ms;
}

.axis-158 {
  animation: anim156 27320ms, fade8 27320ms;
}

.axis-159 {
  animation: anim156 43555ms, fade2 43555ms;
}

.axis-160 {
  animation: anim160 31619ms, fade2 31619ms;
}

.axis-161 {
  animation: anim160 33307ms, fade9 33307ms;
}

.axis-162 {
  animation: anim160 12598ms, fade4 12598ms;
}

.axis-163 {
  animation: anim160 40309ms, fade4 40309ms;
}

.axis-164 {
  animation: anim164 27096ms, fade6 27096ms;
}

.axis-165 {
  animation: anim164 8613ms, fade8 8613ms;
}

.axis-166 {
  animation: anim164 17725ms, fade9 17725ms;
}

.axis-167 {
  animation: anim164 21268ms, fade9 21268ms;
}

.axis-168 {
  animation: anim168 42434ms, fade6 42434ms;
}

.axis-169 {
  animation: anim168 14529ms, fade8 14529ms;
}

.axis-170 {
  animation: anim168 18839ms, fade3 18839ms;
}

.axis-171 {
  animation: anim168 23866ms, fade3 23866ms;
}

.axis-172 {
  animation: anim172 29640ms, fade3 29640ms;
}

.axis-173 {
  animation: anim172 9863ms, fade4 9863ms;
}

.axis-174 {
  animation: anim172 19462ms, fade10 19462ms;
}

.axis-175 {
  animation: anim172 11139ms, fade4 11139ms;
}

.axis-176 {
  animation: anim176 8745ms, fade2 8745ms;
}

.axis-177 {
  animation: anim176 22315ms, fade7 22315ms;
}

.axis-178 {
  animation: anim176 13338ms, fade5 13338ms;
}

.axis-179 {
  animation: anim176 14421ms, fade1 14421ms;
}

.axis-180 {
  animation: anim180 25926ms, fade10 25926ms;
}

.axis-181 {
  animation: anim180 7234ms, fade2 7234ms;
}

.axis-182 {
  animation: anim180 28371ms, fade1 28371ms;
}

.axis-183 {
  animation: anim180 30189ms, fade3 30189ms;
}

.axis-184 {
  animation: anim184 10614ms, fade10 10614ms;
}

.axis-185 {
  animation: anim184 5106ms, fade9 5106ms;
}

.axis-186 {
  animation: anim184 30805ms, fade4 30805ms;
}

.axis-187 {
  animation: anim184 36264ms, fade7 36264ms;
}

.axis-188 {
  animation: anim188 29703ms, fade8 29703ms;
}

.axis-189 {
  animation: anim188 23320ms, fade3 23320ms;
}

.axis-190 {
  animation: anim188 43776ms, fade9 43776ms;
}

.axis-191 {
  animation: anim188 18040ms, fade6 18040ms;
}

.axis-192 {
  animation: anim192 16592ms, fade1 16592ms;
}

.axis-193 {
  animation: anim192 20170ms, fade9 20170ms;
}

.axis-194 {
  animation: anim192 9405ms, fade3 9405ms;
}

.axis-195 {
  animation: anim192 40592ms, fade2 40592ms;
}

.axis-196 {
  animation: anim196 7076ms, fade10 7076ms;
}

.axis-197 {
  animation: anim196 42157ms, fade6 42157ms;
}

.axis-198 {
  animation: anim196 35427ms, fade5 35427ms;
}

.axis-199 {
  animation: anim196 28415ms, fade1 28415ms;
}

.axis-200 {
  animation: anim200 35956ms, fade7 35956ms;
}

.axis-201 {
  animation: anim200 38555ms, fade4 38555ms;
}

.axis-202 {
  animation: anim200 37899ms, fade1 37899ms;
}

.axis-203 {
  animation: anim200 39160ms, fade5 39160ms;
}

.axis-204 {
  animation: anim204 26875ms, fade7 26875ms;
}

.axis-205 {
  animation: anim204 31340ms, fade1 31340ms;
}

.axis-206 {
  animation: anim204 15050ms, fade2 15050ms;
}

.axis-207 {
  animation: anim204 37635ms, fade9 37635ms;
}

.axis-208 {
  animation: anim208 32263ms, fade5 32263ms;
}

.axis-209 {
  animation: anim208 28814ms, fade9 28814ms;
}

.axis-210 {
  animation: anim208 27290ms, fade10 27290ms;
}

.axis-211 {
  animation: anim208 12736ms, fade2 12736ms;
}

.axis-212 {
  animation: anim212 18307ms, fade8 18307ms;
}

.axis-213 {
  animation: anim212 17470ms, fade5 17470ms;
}

.axis-214 {
  animation: anim212 22496ms, fade6 22496ms;
}

.axis-215 {
  animation: anim212 15892ms, fade9 15892ms;
}

.axis-216 {
  animation: anim216 25854ms, fade8 25854ms;
}

.axis-217 {
  animation: anim216 18853ms, fade10 18853ms;
}

.axis-218 {
  animation: anim216 19565ms, fade3 19565ms;
}

.axis-219 {
  animation: anim216 12580ms, fade2 12580ms;
}

.axis-220 {
  animation: anim220 29502ms, fade6 29502ms;
}

.axis-221 {
  animation: anim220 5596ms, fade5 5596ms;
}

.axis-222 {
  animation: anim220 22818ms, fade5 22818ms;
}

.axis-223 {
  animation: anim220 23589ms, fade10 23589ms;
}

.axis-224 {
  animation: anim224 5616ms, fade10 5616ms;
}

.axis-225 {
  animation: anim224 33799ms, fade2 33799ms;
}

.axis-226 {
  animation: anim224 42441ms, fade2 42441ms;
}

.axis-227 {
  animation: anim224 33795ms, fade4 33795ms;
}

.axis-228 {
  animation: anim228 20701ms, fade6 20701ms;
}

.axis-229 {
  animation: anim228 23601ms, fade5 23601ms;
}

.axis-230 {
  animation: anim228 32157ms, fade1 32157ms;
}

.axis-231 {
  animation: anim228 9934ms, fade9 9934ms;
}

.axis-232 {
  animation: anim232 9105ms, fade1 9105ms;
}

.axis-233 {
  animation: anim232 13088ms, fade10 13088ms;
}

.axis-234 {
  animation: anim232 11382ms, fade8 11382ms;
}

.axis-235 {
  animation: anim232 8716ms, fade7 8716ms;
}

.axis-236 {
  animation: anim236 24011ms, fade2 24011ms;
}

.axis-237 {
  animation: anim236 42117ms, fade9 42117ms;
}

.axis-238 {
  animation: anim236 22108ms, fade7 22108ms;
}

.axis-239 {
  animation: anim236 19531ms, fade10 19531ms;
}

.axis-240 {
  animation: anim240 30550ms, fade5 30550ms;
}

.axis-241 {
  animation: anim240 9622ms, fade10 9622ms;
}

.axis-242 {
  animation: anim240 36941ms, fade4 36941ms;
}

.axis-243 {
  animation: anim240 35069ms, fade9 35069ms;
}

.axis-244 {
  animation: anim244 6643ms, fade7 6643ms;
}

.axis-245 {
  animation: anim244 23050ms, fade7 23050ms;
}

.axis-246 {
  animation: anim244 8977ms, fade2 8977ms;
}

.axis-247 {
  animation: anim244 36453ms, fade1 36453ms;
}

.axis-248 {
  animation: anim248 12177ms, fade1 12177ms;
}

.axis-249 {
  animation: anim248 25752ms, fade2 25752ms;
}

.axis-250 {
  animation: anim248 9604ms, fade7 9604ms;
}

.axis-251 {
  animation: anim248 37355ms, fade1 37355ms;
}

.axis-252 {
  animation: anim252 39956ms, fade6 39956ms;
}

.axis-253 {
  animation: anim252 13072ms, fade7 13072ms;
}

.axis-254 {
  animation: anim252 31694ms, fade8 31694ms;
}

.axis-255 {
  animation: anim252 13543ms, fade3 13543ms;
}

.axis-256 {
  animation: anim256 8960ms, fade3 8960ms;
}

.axis-257 {
  animation: anim256 16370ms, fade10 16370ms;
}

.axis-258 {
  animation: anim256 21338ms, fade7 21338ms;
}

.axis-259 {
  animation: anim256 8434ms, fade1 8434ms;
}

.axis-260 {
  animation: anim260 7824ms, fade9 7824ms;
}

.axis-261 {
  animation: anim260 32910ms, fade3 32910ms;
}

.axis-262 {
  animation: anim260 28582ms, fade3 28582ms;
}

.axis-263 {
  animation: anim260 39570ms, fade2 39570ms;
}

.axis-264 {
  animation: anim264 27701ms, fade1 27701ms;
}

.axis-265 {
  animation: anim264 33530ms, fade1 33530ms;
}

.axis-266 {
  animation: anim264 37793ms, fade3 37793ms;
}

.axis-267 {
  animation: anim264 29067ms, fade7 29067ms;
}

.axis-268 {
  animation: anim268 21899ms, fade6 21899ms;
}

.axis-269 {
  animation: anim268 11206ms, fade6 11206ms;
}

.axis-270 {
  animation: anim268 35160ms, fade8 35160ms;
}

.axis-271 {
  animation: anim268 8543ms, fade4 8543ms;
}

.axis-272 {
  animation: anim272 35883ms, fade9 35883ms;
}

.axis-273 {
  animation: anim272 7381ms, fade6 7381ms;
}

.axis-274 {
  animation: anim272 33569ms, fade9 33569ms;
}

.axis-275 {
  animation: anim272 11489ms, fade5 11489ms;
}

.axis-276 {
  animation: anim276 22552ms, fade7 22552ms;
}

.axis-277 {
  animation: anim276 5715ms, fade7 5715ms;
}

.axis-278 {
  animation: anim276 13051ms, fade9 13051ms;
}

.axis-279 {
  animation: anim276 17178ms, fade1 17178ms;
}

.axis-280 {
  animation: anim280 12754ms, fade2 12754ms;
}

.axis-281 {
  animation: anim280 18274ms, fade9 18274ms;
}

.axis-282 {
  animation: anim280 33004ms, fade8 33004ms;
}

.axis-283 {
  animation: anim280 6982ms, fade9 6982ms;
}

.axis-284 {
  animation: anim284 31531ms, fade3 31531ms;
}

.axis-285 {
  animation: anim284 28054ms, fade4 28054ms;
}

.axis-286 {
  animation: anim284 38340ms, fade8 38340ms;
}

.axis-287 {
  animation: anim284 20042ms, fade3 20042ms;
}

.axis-288 {
  animation: anim288 8525ms, fade6 8525ms;
}

.axis-289 {
  animation: anim288 16772ms, fade9 16772ms;
}

.axis-290 {
  animation: anim288 28146ms, fade7 28146ms;
}

.axis-291 {
  animation: anim288 37952ms, fade4 37952ms;
}

.axis-292 {
  animation: anim292 32736ms, fade7 32736ms;
}

.axis-293 {
  animation: anim292 5472ms, fade1 5472ms;
}

.axis-294 {
  animation: anim292 15518ms, fade10 15518ms;
}

.axis-295 {
  animation: anim292 15456ms, fade2 15456ms;
}

.axis-296 {
  animation: anim296 14115ms, fade2 14115ms;
}

.axis-297 {
  animation: anim296 23592ms, fade3 23592ms;
}

.axis-298 {
  animation: anim296 9035ms, fade3 9035ms;
}

.axis-299 {
  animation: anim296 40997ms, fade4 40997ms;
}

.axis-300 {
  animation: anim300 43432ms, fade7 43432ms;
}

.axis-301 {
  animation: anim300 30461ms, fade7 30461ms;
}

.axis-302 {
  animation: anim300 14234ms, fade4 14234ms;
}

.axis-303 {
  animation: anim300 28343ms, fade2 28343ms;
}

.axis-304 {
  animation: anim304 18220ms, fade1 18220ms;
}

.axis-305 {
  animation: anim304 32963ms, fade4 32963ms;
}

.axis-306 {
  animation: anim304 7403ms, fade8 7403ms;
}

.axis-307 {
  animation: anim304 13734ms, fade7 13734ms;
}

.axis-308 {
  animation: anim308 27225ms, fade5 27225ms;
}

.axis-309 {
  animation: anim308 44484ms, fade9 44484ms;
}

.axis-310 {
  animation: anim308 19560ms, fade8 19560ms;
}

.axis-311 {
  animation: anim308 7951ms, fade5 7951ms;
}

.axis-312 {
  animation: anim312 19455ms, fade8 19455ms;
}

.axis-313 {
  animation: anim312 11776ms, fade3 11776ms;
}

.axis-314 {
  animation: anim312 17118ms, fade5 17118ms;
}

.axis-315 {
  animation: anim312 32162ms, fade3 32162ms;
}

.axis-316 {
  animation: anim316 25913ms, fade6 25913ms;
}

.axis-317 {
  animation: anim316 33622ms, fade7 33622ms;
}

.axis-318 {
  animation: anim316 15752ms, fade1 15752ms;
}

.axis-319 {
  animation: anim316 6001ms, fade9 6001ms;
}

.axis-320 {
  animation: anim320 40503ms, fade4 40503ms;
}

.axis-321 {
  animation: anim320 12383ms, fade8 12383ms;
}

.axis-322 {
  animation: anim320 34154ms, fade2 34154ms;
}

.axis-323 {
  animation: anim320 26919ms, fade5 26919ms;
}

.axis-324 {
  animation: anim324 33849ms, fade8 33849ms;
}

.axis-325 {
  animation: anim324 7999ms, fade1 7999ms;
}

.axis-326 {
  animation: anim324 24408ms, fade5 24408ms;
}

.axis-327 {
  animation: anim324 27413ms, fade6 27413ms;
}

.axis-328 {
  animation: anim328 17846ms, fade5 17846ms;
}

.axis-329 {
  animation: anim328 39865ms, fade2 39865ms;
}

.axis-330 {
  animation: anim328 43954ms, fade1 43954ms;
}

.axis-331 {
  animation: anim328 15384ms, fade6 15384ms;
}

.axis-332 {
  animation: anim332 10843ms, fade9 10843ms;
}

.axis-333 {
  animation: anim332 38830ms, fade6 38830ms;
}

.axis-334 {
  animation: anim332 40660ms, fade10 40660ms;
}

.axis-335 {
  animation: anim332 38833ms, fade7 38833ms;
}

.axis-336 {
  animation: anim336 27706ms, fade5 27706ms;
}

.axis-337 {
  animation: anim336 19317ms, fade3 19317ms;
}

.axis-338 {
  animation: anim336 33885ms, fade8 33885ms;
}

.axis-339 {
  animation: anim336 19416ms, fade1 19416ms;
}

.axis-340 {
  animation: anim340 25621ms, fade9 25621ms;
}

.axis-341 {
  animation: anim340 17963ms, fade2 17963ms;
}

.axis-342 {
  animation: anim340 40459ms, fade10 40459ms;
}

.axis-343 {
  animation: anim340 25054ms, fade10 25054ms;
}

.axis-344 {
  animation: anim344 26556ms, fade6 26556ms;
}

.axis-345 {
  animation: anim344 24272ms, fade1 24272ms;
}

.axis-346 {
  animation: anim344 11178ms, fade8 11178ms;
}

.axis-347 {
  animation: anim344 19849ms, fade2 19849ms;
}

.axis-348 {
  animation: anim348 16351ms, fade10 16351ms;
}

.axis-349 {
  animation: anim348 8779ms, fade7 8779ms;
}

.axis-350 {
  animation: anim348 17384ms, fade1 17384ms;
}

.axis-351 {
  animation: anim348 13829ms, fade10 13829ms;
}

.axis-352 {
  animation: anim352 28273ms, fade3 28273ms;
}

.axis-353 {
  animation: anim352 9261ms, fade7 9261ms;
}

.axis-354 {
  animation: anim352 33990ms, fade4 33990ms;
}

.axis-355 {
  animation: anim352 11049ms, fade4 11049ms;
}

.axis-356 {
  animation: anim356 19320ms, fade7 19320ms;
}

.axis-357 {
  animation: anim356 6672ms, fade4 6672ms;
}

.axis-358 {
  animation: anim356 9752ms, fade9 9752ms;
}

.axis-359 {
  animation: anim356 7728ms, fade5 7728ms;
}

.axis-360 {
  animation: anim360 22888ms, fade9 22888ms;
}

@keyframes fade1 {
  8% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade3 {
  6% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade4 {
  1% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade5 {
  11% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade6 {
  2% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade7 {
  14% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade8 {
  8% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade9 {
  16% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade10 {
  4% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim4 {
  100% {
    transform: translate(79.8051240208vw, 5.5805178995vh);
  }
}
@keyframes anim8 {
  100% {
    transform: translate(79.2214454993vw, 11.1338480768vh);
  }
}
@keyframes anim12 {
  100% {
    transform: translate(78.2518080587vw, 16.6329352654vh);
  }
}
@keyframes anim16 {
  100% {
    transform: translate(76.9009356751vw, 22.0509884654vh);
  }
}
@keyframes anim20 {
  100% {
    transform: translate(75.1754096629vw, 27.3616114661vh);
  }
}
@keyframes anim24 {
  100% {
    transform: translate(73.0836366114vw, 32.5389314461vh);
  }
}
@keyframes anim28 {
  100% {
    transform: translate(70.6358074287vw, 37.5577250229vh);
  }
}
@keyframes anim32 {
  100% {
    transform: translate(67.8438476925vw, 42.3935411387vh);
  }
}
@keyframes anim36 {
  100% {
    transform: translate(64.72135955vw, 47.0228201834vh);
  }
}
@keyframes anim40 {
  100% {
    transform: translate(61.2835554495vw, 51.4230087749vh);
  }
}
@keyframes anim44 {
  100% {
    transform: translate(57.5471840271vw, 55.5726696367vh);
  }
}
@keyframes anim48 {
  100% {
    transform: translate(53.5304485087vw, 59.4515860382vh);
  }
}
@keyframes anim52 {
  100% {
    transform: translate(49.252918026vw, 63.0408602885vh);
  }
}
@keyframes anim56 {
  100% {
    transform: translate(44.7354322777vw, 66.3230058044vh);
  }
}
@keyframes anim60 {
  100% {
    transform: translate(40vw, 69.2820323028vh);
  }
}
@keyframes anim64 {
  100% {
    transform: translate(35.0696917431vw, 71.9035237039vh);
  }
}
@keyframes anim68 {
  100% {
    transform: translate(29.9685274733vw, 74.1747083653vh);
  }
}
@keyframes anim72 {
  100% {
    transform: translate(24.72135955vw, 76.0845213036vh);
  }
}
@keyframes anim76 {
  100% {
    transform: translate(19.353751648vw, 77.6236581021vh);
  }
}
@keyframes anim80 {
  100% {
    transform: translate(13.8918542133vw, 78.784620241vh);
  }
}
@keyframes anim84 {
  100% {
    transform: translate(8.3622770614vw, 79.5617516295vh);
  }
}
@keyframes anim88 {
  100% {
    transform: translate(2.7919597362vw, 79.9512661615vh);
  }
}
@keyframes anim92 {
  100% {
    transform: translate(-2.7919597362vw, 79.9512661615vh);
  }
}
@keyframes anim96 {
  100% {
    transform: translate(-8.3622770614vw, 79.5617516295vh);
  }
}
@keyframes anim100 {
  100% {
    transform: translate(-13.8918542134vw, 78.784620241vh);
  }
}
@keyframes anim104 {
  100% {
    transform: translate(-19.353751648vw, 77.6236581021vh);
  }
}
@keyframes anim108 {
  100% {
    transform: translate(-24.72135955vw, 76.0845213036vh);
  }
}
@keyframes anim112 {
  100% {
    transform: translate(-29.9685274733vw, 74.1747083653vh);
  }
}
@keyframes anim116 {
  100% {
    transform: translate(-35.0696917431vw, 71.9035237039vh);
  }
}
@keyframes anim120 {
  100% {
    transform: translate(-40vw, 69.2820323027vh);
  }
}
@keyframes anim124 {
  100% {
    transform: translate(-44.7354322777vw, 66.3230058044vh);
  }
}
@keyframes anim128 {
  100% {
    transform: translate(-49.2529180261vw, 63.0408602885vh);
  }
}
@keyframes anim132 {
  100% {
    transform: translate(-53.5304485087vw, 59.4515860382vh);
  }
}
@keyframes anim136 {
  100% {
    transform: translate(-57.5471840271vw, 55.5726696367vh);
  }
}
@keyframes anim140 {
  100% {
    transform: translate(-61.2835554495vw, 51.4230087749vh);
  }
}
@keyframes anim144 {
  100% {
    transform: translate(-64.72135955vw, 47.0228201834vh);
  }
}
@keyframes anim148 {
  100% {
    transform: translate(-67.8438476924vw, 42.3935411387vh);
  }
}
@keyframes anim152 {
  100% {
    transform: translate(-70.6358074286vw, 37.5577250229vh);
  }
}
@keyframes anim156 {
  100% {
    transform: translate(-73.0836366112vw, 32.5389314461vh);
  }
}
@keyframes anim160 {
  100% {
    transform: translate(-75.1754096624vw, 27.3616114661vh);
  }
}
@keyframes anim164 {
  100% {
    transform: translate(-76.9009356743vw, 22.0509884654vh);
  }
}
@keyframes anim168 {
  100% {
    transform: translate(-78.2518080574vw, 16.6329352656vh);
  }
}
@keyframes anim172 {
  100% {
    transform: translate(-79.2214454971vw, 11.1338480771vh);
  }
}
@keyframes anim176 {
  100% {
    transform: translate(-79.8051240171vw, 5.5805179vh);
  }
}
@keyframes anim180 {
  100% {
    transform: translate(-79.9999999939vw, 0.0000000008vh);
  }
}
@keyframes anim184 {
  100% {
    transform: translate(-79.805124011vw, -5.5805178982vh);
  }
}
@keyframes anim188 {
  100% {
    transform: translate(-79.2214454836vw, -11.1338480746vh);
  }
}
@keyframes anim192 {
  100% {
    transform: translate(-78.2518080337vw, -16.6329352618vh);
  }
}
@keyframes anim196 {
  100% {
    transform: translate(-76.9009356358vw, -22.0509884595vh);
  }
}
@keyframes anim200 {
  100% {
    transform: translate(-75.1754096017vw, -27.3616114568vh);
  }
}
@keyframes anim204 {
  100% {
    transform: translate(-73.0836365169vw, -32.5389314314vh);
  }
}
@keyframes anim208 {
  100% {
    transform: translate(-70.6358072839vw, -37.557725vh);
  }
}
@keyframes anim212 {
  100% {
    transform: translate(-67.8438474725vw, -42.3935411032vh);
  }
}
@keyframes anim216 {
  100% {
    transform: translate(-64.7213592185vw, -47.022820129vh);
  }
}
@keyframes anim220 {
  100% {
    transform: translate(-61.2835549536vw, -51.423008692vh);
  }
}
@keyframes anim224 {
  100% {
    transform: translate(-57.5471832906vw, -55.5726695113vh);
  }
}
@keyframes anim228 {
  100% {
    transform: translate(-53.5304474226vw, -59.4515858499vh);
  }
}
@keyframes anim232 {
  100% {
    transform: translate(-49.2529164353vw, -63.0408600078vh);
  }
}
@keyframes anim236 {
  100% {
    transform: translate(-44.735429963vw, -66.3230053889vh);
  }
}
@keyframes anim240 {
  100% {
    transform: translate(-39.9999966533vw, -69.2820316917vh);
  }
}
@keyframes anim244 {
  100% {
    transform: translate(-35.0696869337vw, -71.9035228111vh);
  }
}
@keyframes anim248 {
  100% {
    transform: translate(-29.9685206026vw, -74.1747070689vh);
  }
}
@keyframes anim252 {
  100% {
    transform: translate(-24.721349791vw, -76.0845194323vh);
  }
}
@keyframes anim256 {
  100% {
    transform: translate(-19.3537378633vw, -77.6236554167vh);
  }
}
@keyframes anim260 {
  100% {
    transform: translate(-13.891834847vw, -78.7846164089vh);
  }
}
@keyframes anim264 {
  100% {
    transform: translate(-8.362249995vw, -79.5617461908vh);
  }
}
@keyframes anim268 {
  100% {
    transform: translate(-2.7919220994vw, -79.9512584836vh);
  }
}
@keyframes anim272 {
  100% {
    transform: translate(2.7920118149vw, -79.951255378vh);
  }
}
@keyframes anim276 {
  100% {
    transform: translate(8.3623487803vw, -79.5617365594vh);
  }
}
@keyframes anim280 {
  100% {
    transform: translate(13.8919525223vw, -78.7845992823vh);
  }
}
@keyframes anim284 {
  100% {
    transform: translate(19.3538857994vw, -77.6236290907vh);
  }
}
@keyframes anim288 {
  100% {
    transform: translate(24.7215418116vw, -76.0844813291vh);
  }
}
@keyframes anim292 {
  100% {
    transform: translate(29.9687740459vw, -74.1746535294vh);
  }
}
@keyframes anim296 {
  100% {
    transform: translate(35.0700239391vw, -71.9034488065vh);
  }
}
@keyframes anim300 {
  100% {
    transform: translate(40.0004457508vw, -69.2819304349vh);
  }
}
@keyframes anim304 {
  100% {
    transform: translate(44.7360280553vw, -66.3228678216vh);
  }
}
@keyframes anim308 {
  100% {
    transform: translate(49.2537112853vw, -63.0406741325vh);
  }
}
@keyframes anim312 {
  100% {
    transform: translate(53.5315007796vw, -59.4513358667vh);
  }
}
@keyframes anim316 {
  100% {
    transform: translate(57.5485748204vw, -55.5723347095vh);
  }
}
@keyframes anim320 {
  100% {
    transform: translate(61.2853871724vw, -51.4225620336vh);
  }
}
@keyframes anim324 {
  100% {
    transform: translate(64.7237636756vw, -47.0222264458vh);
  }
}
@keyframes anim328 {
  100% {
    transform: translate(67.8469924807vw, -42.39275481vh);
  }
}
@keyframes anim332 {
  100% {
    transform: translate(70.6399075605vw, -37.5566872034vh);
  }
}
@keyframes anim336 {
  100% {
    transform: translate(73.0889651791vw, -32.5375662873vh);
  }
}
@keyframes anim340 {
  100% {
    transform: translate(75.1823130503vw, -27.3598215917vh);
  }
}
@keyframes anim344 {
  100% {
    transform: translate(76.9098519779vw, -22.0486492345vh);
  }
}
@keyframes anim348 {
  100% {
    transform: translate(78.2632898269vw, -16.6298876035vh);
  }
}
@keyframes anim352 {
  100% {
    transform: translate(79.2361877464vw, -11.1298895415vh);
  }
}
@keyframes anim356 {
  100% {
    transform: translate(79.8239986358vw, -5.5753915744vh);
  }
}
@keyframes anim360 {
  100% {
    transform: translate(80.0240979233vw, 0.0066192762vh);
  }
}

/*# sourceMappingURL=stars.css.map */
